################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/CasaDeAxeAPI/bin/Debug/net8.0
/CasaDeAxeAPI/obj
